In [2]:
# initial imports
import pandas as pd

In [3]:
budget_df = pd.read_csv('budget_data.csv')
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
# The total number of months included in the dataset.
months = budget_df['Date'].count() #counting how many dates are in the column
months

86

In [5]:
# The net total amount of Profit/Losses over the entire period.
net = budget_df['Profit/Losses'].sum()
net

38382578

In [6]:
# The average of the changes in Profit/Losses over the entire period.
budget_df['change'] = budget_df['Profit/Losses']-budget_df['Profit/Losses'].shift(1)
change_average = budget_df['change'].mean()
change_average

-2315.1176470588234

In [7]:
# The greatest increase in profits (date and amount) over the entire period.
max_profit = budget_df['change'].max()
month_max_profit = budget_df[budget_df['change']==max_profit]['Date']
print(f'maximum profit of {max_profit} in {month_max_profit}')

maximum profit of 1926159.0 in 25    Feb-2012
Name: Date, dtype: object

In [8]:
# The greatest decrease in losses (date and amount) over the entire period.
min_profit = budget_df['change'].min()
month_min_profit = budget_df[budget_df['change']==min_profit]['Date']
print(f'minimum profit of {min_profit} in {month_min_profit}')

minimum profit of -2196167.0 in 44    Sep-2013
Name: Date, dtype: object

In [14]:
print("Fianancial Analysis")
print("-----------------------------")
print(f"Total Months: {months}")
print(f"Total: ${net}")
print(f"Average Change: ${change_average}")
print(f'Greatest Increase in Profit ${max_profit} in {month_max_profit[25]}')
print(f'Greatest Decrease in Profit ${min_profit} in {month_min_profit[44]}')

Fianancial Analysis
-----------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.1176470588234
Greatest Increase in Profit $1926159.0 in Feb-2012
Greatest Decrease in Profit $-2196167.0 in Sep-2013

In [13]:
month_max_profit[25]

'Feb-2012'

In [ ]:
Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)